/*--- vartiables --*/
/***** general *******/
body {
  background-color: #e7e7e7; }

/***** type *******/
h1, h2, h3, h4, h5, h6, p, ul, li {
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 1.75em;
  font-weight: 400;
  margin-bottom: 0.15em; }

h3 {
  font-weight: 900;
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 0.5em; }

header {
  display: block;
  background-color: #e7e7e7;
  text-align: center;
  padding: 0;
  margin: 2%; }
  header h1 {
    font-weight: 300; }

/*--- weather sections --*/
section {
  display: inline-block;
  width: 25%;
  color: white;
  margin-right: -5px;
  position: relative;
  perspective: 1000px;
  perspective-origin: 50% 25%;
  text-align: center; }
  section i.wi {
    font-size: 8em;
    margin: 23% 10% 16%; }
  section h3 {
    letter-spacing: 1px; }
  section p {
    margin: 0 0 1em;
    font-weight: 300; }
  section ul {
    margin: 0;
    padding: 0; }
  section li {
    list-style: none;
    list-style-position: inside; }

/*--- forecast days --*/
.forecast li {
  display: inline-block;
  background-color: rgba(250, 250, 250, 0.4);
  margin: 1% 0.25% 5% 1.5%;
  font-size: 0.75em;
  width: 29%; }
  .forecast li span {
    padding: 5% 5%; }
    .forecast li span:first-child {
      float: left; }
    .forecast li span:nth-child(2) {
      float: right;
      margin-bottom: 12%; }
  .forecast li .wi {
    font-size: 2.5em;
    padding: 15% 15%; }

/*--- weather icon --*/
/*--- cities --*/
#melb {
  background-color: #9799cc; }

#syd {
  background-color: #ff8585; }

#canb {
  background-color: #ffc154; }

#ban {
  background-color: #f3d957; }
  #ban .forecast li {
    background-color: rgba(253, 240, 175, 0.5); }

#perth {
  background-color: #6ae69c; }

#ade {
  background-color: #40c2de; }

#hob {
  background-color: #418cbc; }

#dar {
  background-color: #dd7357; }

/*--- screen --*/
@media only screen and (max-width: 768px) {
  section i.wi {
    font-size: 5em; }
  section h1 {
    font-size: 1.5em; }
  section h3 {
    font-size: 1.6em;
    letter-spacing: 2px; }
  section p {
    font-size: 1em; }

  .forecast {
    margin-bottom: 8%; }
    .forecast li {
      width: 87%;
      margin: 2% 7%; }
      .forecast li .wi {
        padding: 3% 8% 6%;
        margin: 8% 2% 3%;
        float: right;
        font-size: 3.5em; }
      .forecast li span {
        position: absolute;
        display: block;
        font-size: 1.4em; }
        .forecast li span:nth-child(2) {
          float: left;
          margin-top: 11%; } }
