/*--- vartiables --*/
/***** general *******/
body {
  background-color: #e7e7e7; }

/***** type *******/
h1, h2, h3, h4, h5, h6, p, ul, li {
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 1.75em;
  font-weight: 400;
  margin-bottom: 0.15em; }

h3 {
  font-weight: 900;
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 0.5em; }

header {
  display: block;
  background-color: #e7e7e7;
  text-align: center;
  padding: 0;
  margin: 2%; }
  header h1 {
    font-weight: 300; }

/*--- weather sections --*/
section {
  display: inline-block;
  width: 25%;
  color: white;
  margin-right: -5px;
  position: relative;
  perspective: 1000px;
  perspective-origin: 50% 25%;
  text-align: center; }
  section i.wi {
    font-size: 8em;
    margin: 23% 10% 16%; }
  section h3 {
    letter-spacing: 1px; }
  section p {
    margin: 0 0 1em;
    font-weight: 300; }
  section ul {
    margin: 0;
    padding: 0; }
  section li {
    list-style: none;
    list-style-position: inside; }

/*--- forecast days --*/
.forecast li {
  display: inline-block;
  background-color: rgba(250, 250, 250, 0.4);
  margin: 1% 0.25% 5% 1.5%;
  font-size: 0.75em;
  width: 29%; }
  .forecast li span {
    padding: 5% 5%; }
    .forecast li span:first-child {
      float: left; }
    .forecast li span:nth-child(2) {
      float: right;
      margin-bottom: 12%; }
  .forecast li .wi {
    font-size: 2.5em;
    padding: 15%; }

/*--- weather icon --*/
/*--- cities --*/
#melb {
  background-color: #9799cc; }

#syd {
  background-color: #ff8585; }

#canb {
  background-color: #ffc154; }

#ban {
  background-color: #f3d957; }
  #ban .forecast li {
    background-color: rgba(253, 240, 175, 0.5); }

#perth {
  background-color: #6ae69c; }

#ade {
  background-color: #40c2de; }

#hob {
  background-color: #418cbc; }

#dar {
  background-color: #dd7357; }

/*--- screen --*/
@media only screen and (max-width: 1000px) and (min-width: 768px) {
  section i.wi {
    font-size: 7em; }

  .forecast li {
    font-size: 0.6em; }
    .forecast li span {
      padding: 3%; } }
@media only screen and (max-width: 768px) {
  section i.wi {
    font-size: 5em; }
  section h1 {
    font-size: 1.5em; }
  section h3 {
    font-size: 1.6em;
    letter-spacing: 2px; }
  section p {
    font-size: 1em; }

  .forecast {
    margin-bottom: 8%; }
    .forecast li {
      width: 87%;
      margin: 2% 7%; }
      .forecast li .wi {
        padding: 3% 8% 6%;
        margin: 8% 2% 3%;
        float: right;
        font-size: 3.5em; }
      .forecast li span {
        position: absolute;
        display: block;
        font-size: 1.4em; }
        .forecast li span:nth-child(2) {
          float: left;
          margin-top: 11%; } }
@media only screen and (min-width: 1500px) {
  section h1 {
    font-size: 2.5em; }
  section h3 {
    font-size: 2.5em;
    margin-bottom: 10%; }
  section p {
    font-size: 1.25em; }

  .forecast li span {
    font-size: 1.5em; }
    .forecast li span:nth-child(2) {
      margin-bottom: 16%; }
  .forecast li .wi {
    font-size: 4em;
    padding: 17%; } }
@media only screen and (max-width: 640px) {
  section {
    width: 33.3%; } }
@media only screen and (max-width: 480px) {
  header h1 {
    font-size: 1.5em; }

  section {
    width: 50%; }
    section i.wi {
      margin-bottom: 8%;
      margin-top: 18%;
      font-size: 4em; }
    section h3 {
      margin-bottom: 0.3em;
      margin-top: 0;
      font-size: 1.5em; }
    section p {
      font-size: 0.9em; }

  .forecast li {
    font-size: 0.65em; }
    .forecast li .wi {
      font-size: 3em;
      margin-top: 5%;
      margin-bottom: 2%; } }
@media only screen and (max-width: 360px) {
  header {
    display: none; }

  section {
    width: 100%; }
    section i.wi {
      font-size: 9em;
      margin-top: 7%;
      margin-bottom: 9%; }
    section h1 {
      font-size: 2.5em; }
    section h3 {
      font-size: 2.75em;
      margin-bottom: 4%; }
    section p {
      font-size: 1.25em;
      margin-bottom: 6%; }

  .forecast {
    margin-bottom: 3%; }
    .forecast li {
      width: 27%;
      font-size: 0.65em;
      margin: 4% 0.25% 0% 1.5%;
      padding: 1%; }
      .forecast li span {
        font-size: 1.5em;
        padding: 3%;
        position: relative;
        display: inline-block; }
        .forecast li span:nth-child(2) {
          margin-top: 0;
          margin-bottom: 0%;
          float: right; }
      .forecast li .wi {
        font-size: 4em;
        margin: 4% 9%;
        padding: 7% 13%;
        clear: both; } }
