/*--- vartiables --*/
/***** general *******/
body {
  background-color: #e7e7e7; }

.wrapper {
  width: 100%;
  position: relative;
  perspective: 800px;
  perspective-origin: 50% 25%; }
  .wrapper .device {
    position: relative;
    width: 19%;
    margin: 20% auto;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d; }
  .wrapper .grid {
    position: absolute;
    width: 100%;
    left: 41%;
    margin-left: -400px;
    height: 100%;
    z-index: 1000;
    top: 0;
    opacity: 0;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: all 0.3s ease;
    transform: translateZ(-300px);
    pointer-events: none; }
    .wrapper .grid section {
      position: relative;
      float: left;
      margin: 10px 5px;
      width: 23%;
      cursor: pointer;
      padding: 0.5%; }
      .wrapper .grid section .overlay {
        position: absolute;
        height: 80%;
        width: 77%;
        left: 0;
        top: 0;
        text-transform: uppercase;
        padding: 3em 1em 0;
        z-index: 100;
        color: #ddd;
        background: rgba(0, 0, 0, 0.7);
        font-weight: 400;
        font-size: 2em;
        opacity: 0;
        -webkit-transform: translateY(-5px);
        transition: all 0.2s ease;
        cursor: pointer; }
        .wrapper .grid section .overlay:hover {
          opacity: 1;
          transform: translateY(0);
          -webkit-transform: translateY(0); }

.gridview .device {
  transform: translateZ(-350px);
  -webkit-transform: translateZ(-350px);
  opacity: 0.6; }
.gridview .grid {
  transform: translateZ(0px);
  -webkit-transform: translateZ(-350px);
  opacity: 1;
  pointer-events: auto; }

/***** type *******/
h1, h2, h3, h4, h5, h6, p, ul, li, .overlay {
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 1.75em;
  font-weight: 400;
  margin-bottom: 0.15em; }

h3 {
  font-weight: 900;
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 0.5em; }

/*--- weather sections --*/
section {
  display: inline-block;
  width: 290px;
  color: white;
  text-align: center;
  cursor: pointer; }
  section i.wi {
    font-size: 8em;
    margin: 23% 10% 16%; }
  section h3 {
    letter-spacing: 1px; }
  section p {
    margin: 0 0 1em;
    font-weight: 300; }
  section ul {
    margin: 0;
    padding: 0; }
  section li {
    list-style: none;
    list-style-position: inside; }

/*--- forecast days --*/
.forecast li {
  display: inline-block;
  background-color: rgba(250, 250, 250, 0.4);
  margin: 1% 0.25% 5% 1.5%;
  font-size: 0.75em;
  width: 29%; }
  .forecast li span {
    padding: 5% 5%; }
    .forecast li span:first-child {
      float: left; }
    .forecast li span:nth-child(2) {
      float: right;
      margin-bottom: 12%; }
  .forecast li .wi {
    font-size: 2.5em;
    padding: 15%; }

/*--- weather icon --*/
/*--- cities --*/
#melb, #melb2 {
  background-color: #9799cc; }

#syd {
  background-color: #ff8585; }

#canb {
  background-color: #ffc154; }

#ban {
  background-color: #f3d957; }
  #ban .forecast li {
    background-color: rgba(253, 240, 175, 0.5); }

#perth {
  background-color: #6ae69c; }

#ade {
  background-color: #40c2de; }

#hob {
  background-color: #418cbc; }

#dar {
  background-color: #dd7357; }
